p {
    font-size: 32px; /* Aumentado de 30px a 32px */
    color: black;
    text-align: center; /* Centrar el texto */
    text-decoration: underline;
    text-transform: capitalize;
}

/* Estilo para pantallas con un ancho máximo de 600px */
@media (max-width: 600px) {
    p {
        font-size: 16px; /* Aumentado de 14px a 16px */
        color: blue;
        text-align: center; /* Centrar el texto */
    }
}

/* Estilo para pantallas con un ancho mínimo de 601px */
@media (min-width: 601px) {
    p {
        font-size: 20px; /* Aumentado de 18px a 20px */
        color: green;
    }
}
